# Block
public net.minecraft.client.renderer.entity.RenderManager field_78725_b # renderPosX
public net.minecraft.client.renderer.entity.RenderManager field_78726_c # renderPosY
public net.minecraft.client.renderer.entity.RenderManager field_78723_d # renderPosZ

public net.minecraft.block.Block field_149756_F # maxY
public net.minecraft.client.renderer.RenderGlobal field_175015_z # entityOutlineFramebuffer
public net.minecraft.client.renderer.RenderGlobal field_174991_A # entityOutlineShader

public net.minecraft.client.gui.GuiPlayerTabOverlay field_175255_h # footer